
<div *ngIf="step1" class="container m-5 p-5">
    <h2 class="fw-bold font-family text">please enter your email</h2>
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()"  class="ng-untouched ng-pristine ng-invalid">
        <div  class="form-floating mb-3 text">
            <input formControlName="email" type="email" id="floatingInput" placeholder="name@example.com" formcontrolname="email" class="form-control ng-untouched ng-pristine ng-invalid">
            <label  for="floatingInput">Email </label>
        </div>
        <button  type="submit" class="btn btn-lg me-auto btn-outline-info">verify</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
    </form>
</div>

<div *ngIf="step2" class="container  m-5 p-5">
    <h2 class="fw-bold text">please enter your verification code</h2>
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()" class="ng-untouched ng-pristine ng-invalid">
        <div  class="form-floating mb-3 text">
            <input formControlName=" resetCode" type="number" id="floatingInput" placeholder="your code" formcontrolname="code" class="form-control ng-untouched ng-pristine ng-invalid">
            <label for="floatingInput">code </label>
        </div>
        <button type="submit" class="btn btn-lg me-auto btn-outline-info">verify</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
  
    </form>
</div>


<div *ngIf="step3" class="container  m-5 p-5 ">
    <h2 class="fw-bold text"  >reset your account password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="ng-untouched ng-pristine ng-invalid">
        <div class="form-floating mb-3 text">
            <input formControlName="email" type="email" id="floatingInput" placeholder="your email" formcontrolname="email" class="form-control ng-untouched ng-pristine ng-invalid">
            <label for="floatingInput">email </label>
        </div>
        <div class="form-floating mb-3 text">
            <input formControlName="newPassword" type="password" id="floatingInput" placeholder="your newPassword" formcontrolname="newPassword" class="form-control ng-untouched ng-pristine ng-invalid">
            <label for="floatingInput">password </label>
        </div>
        <button routerLink="/home" routerLinkActive="active-link" type="submit" class="btn btn-lg me-auto btn-outline-info my-3">reset password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center">{{userMsg}}</p>
  
    </form>
</div>



